body.welcome {
	
	background-color: #ffffe3;
	div.masthead {
		display: none;
	}

	div.page__footer {
		display: none;
	}
	
	div.page__hero--overlay {
		text-align: center;
		height: calc(100vh - 4em);
		background-attachment: fixed;
		padding: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.wrapper {
			// Vertically centered with flexbox: https://www.w3schools.com/css/css_align.asp

			a.btn {
				//backdrop-filter: blur(1.5px);
				position: relative;
				color:rgba(0, 0, 0, 0.8);
				text-shadow: none;
				border: 3px solid rgba(0, 0, 0, 0.4);
				border-radius: 12px;
				font-family: 'Baloo 2', sans-serif;
				/*
				// Workaround for backdrop-filter: https://stackoverflow.com/a/38543010/5958455
				&::before {
					content: '';
					background: linear-gradient(hsla(0, 0%, 100%, 0.1), hsla(0, 0%, 100%, 0.1)) center / cover no-repeat fixed;
					filter: blur(1.5px);
					position: absolute;
					z-index: -1;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
				}*/
			}
		}
	}

	p.page__lead {
		margin-left: auto;
		margin-right: auto;
		color: rgba(0, 0, 0, 0.8);
		text-shadow: none;
		font-family: 'Baloo 2', sans-serif;
	}

	#page-title {
		color: rgba(0, 0, 0, 0.8);
		text-shadow: none;
		font-family: 'Baloo 2', sans-serif;
	}

	img.avatar {
		position: relative;
		//border: 2px solid rgba(238, 238, 238, 0.6);
		border: none;
		border-radius: 50%;
		padding: 0.3rem;
		box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);

		width: calc(150px + 4rem);
		height: calc(150px + 4rem);
		top: -2rem;
		/*@include breakpoint($medium) {
			width: calc(128px + 1rem);
			height: calc(128px + 1rem);
		}
		@include breakpoint($large) {
			width: calc(160px + 1rem);
			height: calc(160px + 1rem);
			top: -3rem;
		}
		@include breakpoint($x-large) {
		}*/

		&:hover {
			box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);
			animation: spin-periodically 5000ms infinite ease-in-out;
		}
	}
}